[package]
name = "acprotocol"
version.workspace = true
edition.workspace = true
description = "Asheron's Call Protocol"
repository.workspace = true
license.workspace = true

[lib]
path = "src/lib.rs"

[[bin]]
name = "pcap"
path = "src/bin/pcap.rs"
required-features = ["cli"]

[[bin]]
name = "pcap-unified"
path = "src/bin/pcap-unified.rs"
required-features = ["cli"]

[dependencies]
anyhow = { workspace = true }
bitflags = { workspace = true }
clap = { workspace = true, optional = true }
num_enum = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

[build-dependencies]
codegen = { path = "../codegen" }
env_logger = { workspace = true }

[features]
cli = ["clap"]
