[package]
name = "acprotocol"
version.workspace = true
edition.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0", features = ["derive"] }

[build-dependencies]
genlib = { path = "../genlib" }
