[package]
name = "acprotocol"
version.workspace = true
edition.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
num_enum = "0.7"
bitflags = { version = "2.6", features = ["serde"] }
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"], optional = true }

[build-dependencies]
codegen = { path = "../codegen" }
env_logger = "0.11"

[features]
cli = ["clap"]

[[bin]]
name = "pcap"
path = "src/bin/pcap.rs"
required-features = ["cli"]

[[bin]]
name = "pcap-unified"
path = "src/bin/pcap-unified.rs"
required-features = ["cli"]
